
#body {
    /* background-color: black; */
    /* background-image: url("/static/bd.3.png"); */
    /* background-image: ; */
    background-image: url('/static/newestback3.png');

     /* Adjust the opacity to a value between 0 and 1 */
    /* filter: blur(900%); Apply the blur effect */

}

    
#realfooter{

    margin-top:30px;
}
#Nav2{
    
    display: flex;
    justify-content: space-between ;
    font-weight: bold;
    /* border: solid;
    border-color: black; 
    border-radius: 10%; */
    text-decoration: underline;
}

#Nav3{
    justify-content: space-between;
    /* padding-left: 20%; */
    }

#p1{
    /* color:#E0D6D0; */
    color:#E0D6D0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    width: 500px ;
    display: flex;
    justify-content: center;

    /* display: inline-flex; */
    /* justify-content: space-between; */
    /* justify-content: right; */

}

#Mainbody{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

#aboutbody{
    background-color:red;
}

#Testimony{

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width:300px;
}

#bookingcontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 200px; */


}
#vids{
    display: flex;
    justify-content: space-around;

}

#logobar{
    justify-content:space-around;
    display: flex;
    flex-direction: column;
    width: 170px;
    
}

#contentcontainer{

    display: flex;
    justify-content: space-between;
}

.abtimage{
    width: 300px;
    margin-bottom: 20px;
    padding-left: 190px;
}

#footer{
    color:#E0D6D0;
}

.homelogo{
    height: 40px;
    width: 100px 
}

#igphotos{
    display:flex ;
    justify-content: space-around;


}

#footer1{
    color:#E0D6D0;
    text-decoration: underline;
    display: flex;
    text-align: center;
    flex-direction: column;
    font-style: italic;
    font-weight: bolder;    
}

/* dt{

    height: 70px;
} */