<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Blazin Amazin Treatz Bookings</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/Homestyle.css">
        <link rel="icon" href="\static\logo2.png" type="image/png">

    </head>
    <body id="body">
        <div>
            <nav id="Nav2" >
                <a  href="/templates/Home.html"> <img src="\static\logo2.png" width=200px class="homelogo"> </img> </a>
                <a style="color:#E0D6D0" href="/templates/Home.html">Home</a> 
                <a style="color:#E0D6D0" href="/templates/Products.html" >Products</a>
                <a style="color:#E0D6D0" href="/templates/Book.html" >Book</a>
                <a style="color:#E0D6D0" href="/templates/About.html">About</a>
                    <div id="Nav3">
                        <a href="/templates/Book.html"> <img src="/icons/calendar-check-fill.svg" width=50px> </a>
                       <!--
                         <img src="/icons/search.svg"  width= 50px >
                        <img src="/icons/telephone-inbound-fill.svg" width=50px> -->
                    </div>
    
            </nav>
        </div>


<div id="bookingcontent">
    <div>
        <h1 style="color:#E0D6D0">Welcome to Bookings page</h1>
        <label style="color:#E0D6D0;margin-bottom: 20px;">Email:</label>
        <input id="forjs" type="text" placeholder=" Please enter a email...." style="color:#E0D6D0;margin-bottom: 20px;"></input>
    </div>
        <label style="color:#E0D6D0">Type of event?</label>
        <input type="text" placeholder=" Please enter a description of your event...." style= "width:500px;  margin-bottom: 20px; height:200px; " ></input>
        <button style=" color:grey; width:500px; height:20px;" onclick="sendemail">-Send Booking-</button>
</div>
        
        <footer id="realfooter">
            <div>
                <a id="favi1" href="https://www.instagram.com/blazinamazintreatz/" target="blank" > <img src="\icons\instagram.svg" width=50px> </a>
                <a id="favi1" href="https://m.facebook.com/p/Blazin-Amazin-Treatz-100064961171239/" target="blank" ><img src="\icons\facebook.svg" width=50px> </a>
            </div>
            <p id="footer">&copy;Amazin Blazin treats. All rights reserved.</p>
            <p id="footer">Contact us at blazinamazintreatz@gmail.com</p>
        </footer>
    
        <script src="" async defer></script>
    </body>
</html>