<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Blazin Amazin Treatz Products</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/Homestyle.css">
        <link rel="icon" href="/static/logo2.png" type="image/png">

    </head>
    <body id="body">

        <div>
            <nav id="Nav2" >
                <a  href="/"> <img src="/static/business_card.png" width=200px class="homelogo"> </img> </a>
                <a style="color:#E0D6D0" href="/">Home</a> 
                <a style="color:#E0D6D0" href="/Products" >Products</a>
                <a style="color:#E0D6D0" href="/Book" >Contact</a>
                <a style="color:#E0D6D0" href="/About">About</a>
                    <div id="Nav3">
                        <a href="/Book"> <img src="/static/icons/blackphone.svg" width=50px> </a>
                        <!-- <img src="/icons/search.svg"  width= 50px >
                        <img src="/icons/telephone-inbound-fill.svg" width=50px> -->
                    </div>
    
            </nav>
        </div>
    

        <h1 id="footer1">Products</h1>
        <h1 id="footer1"> The flavors are the same and can be mixed for each: Blueberry, Strawberry, Lemon, Cotton Candy, Piña Colada, Mango, Watermelon, Coconut, Peacehead, Sour Apple,Tigers Blood,Tangerine, Cherry, Pineapple,
        </h1>


        <div id="footer1">
        <dl id="footer1">

            <dt style="margin-top: 50px;" >Pineapple</dt>
            <dd><img id="productmenu" src="/static/menu.png"  width= 400px style="margin-top: 20px;"  ></dd>
            <dt>italian ice in pineapple $20</dt>



            <dt  >Strawberry Candy Cup</dt>
            <dd><video src="\static\vid6.mp4" autoplay width= 400px style="margin-top: 20px;" muted></video></dd>
            <dt>Strawberry and Candy mix with italian ice in Cup $15</dt>

            <dt>White Cup</dt>
            <dd><img src="/static/purple.png"  width= 400px style="margin-top: 10px;"></dd>
                <dt>italian ice in purple Cup $15</dt>
                <dd></dd>


                <dt style="margin-top: 50px;" >Pineapple</dt>
                <dd><img src="/static/pineapple.png"  width= 400px style="margin-top: 20px;"  ></dd>
                <dt>italian ice in pineapple $20</dt>

                <dt style="margin-top: 50px;" >Liquor infused Cup</dt>
                <dd><img src="/static/2wcups.png"  width= 400px style="margin-top: 20px;"  ></dd>
                <dt>Liquor infused italian ice in Cup $15 </dt>



        </dl>
    </div>
        

        <footer id="realfooter">
            <div>
                <a id="favi1" href="https://www.instagram.com/blazinamazintreatz/" target="blank" > <img src="\static\icons\instagram.svg" width=50px> </a>
                <a id="favi1" href="https://m.facebook.com/p/Blazin-Amazin-Treatz-100064961171239/" target="blank" ><img src="\static\icons\facebook.svg" width=50px> </a>
            </div>
            <p id="footer">&copy;Amazin Blazin treats. All rights reserved.</p>
            <p id="footer">Contact us at contact@example.com</p>
        </footer>
    
        
        <script src="" async defer></script>
    </body>
</html>